{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent()}}
	<link href="{{ asset('css/styleAdd.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title%}
Ajout d'un Post
{% endblock %}


{% block body%}
	<div class="addpost text-center">
		<h1>Ajoutez un Post</h1>
		<div class="container">
			{{ form_start(form) }}

			<div class="form-row justify-content-md-center">
        <div class="col-md-3">
				  {{ form_label(form.Title, "Titre :  ") }}
      	 {{ form_errors(form.Title) }}
      	 {{ form_widget(form.Title) }}
     	 	  {{ form_help(form.Title) }}
    	  </div>
      </div>

    	<div class="form-row justify-content-md-center">
        <div class="col-md-8">
    		  {{ form_label(form.Content, 'Texte :  ') }}
      	  {{ form_errors(form.Content) }}
        	{{ form_widget(form.Content, {'attr': {'class': 'foo'}}) }}
      	  {{ form_help(form.Content) }}
        </div>
    	</div>

      <div class="form-row justify-content-md-center cat">
        <div class="col-md-8">
          {{ form_label(form.Category) }}
          {{ form_errors(form.Category) }}
          {{ form_widget(form.Category) }}
          {{ form_help(form.Category) }}
        </div>
      </div>

      <p  id="add_cat">add category</p>
      
      <div class="form-row justify-content-md-center">
        <div class="col-md-2">
        {{ form_label(form.Image) }}
        {{ form_errors(form.Image) }}
        {{ form_widget(form.Image) }}
        {{ form_help(form.Image) }}
      </div>
    </div>

    	<div class="boutonPost form-row justify-content-md-center">
    		{{ form_widget(form.Save) }}
    	</div>

		{{ form_end(form) }}
		</div>

	</div>
{% endblock %}