{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent()}}
	<link href="{{ asset('css/styleAdd.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title%}
Ajout d'un Post
{% endblock %}


{% block body%}
	<div class="addpost text-center">
		<h1>Ajoutez un Post</h1>
		<div class="container">
			{{ form_start(form) }}

			<div class="form-inline">
				{{ form_label(form.Title, "Titre :  ") }}
      	{{ form_errors(form.Title) }}
      	{{ form_widget(form.Title) }}
     	 	{{ form_help(form.Title) }}
    	</div>

    	<div class="form-group">
    		{{ form_label(form.Content, 'Texte :  ') }}
      	{{ form_errors(form.Content) }}
      	{{ form_widget(form.Content, {'attr': {'class': 'foo'}}) }}
      	{{ form_help(form.Content) }}
    	</div>
      <div >
        {{ form_label(form.Image) }}
        {{ form_errors(form.Image) }}
        {{ form_widget(form.Image) }}
        {{ form_help(form.Image) }}
      </div>

    	<div class="boutonPost">
    		{{ form_widget(form.save) }}
    	</div>

		{{ form_end(form) }}
		</div>

	</div>
{% endblock %}