<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"> 
    {% block stylesheets %}
    	{{ encore_entry_link_tags('app') }}
      {{ encore_entry_link_tags('home') }}
		{% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>

  </head>

  <body>
  	<header>
  		<div class="collapse" id="hidden">
  			<div class="hidden-menu">
  				<ul class="text-center">
            <li><a href="/">Home</a></li>
            <li><a href="/index">Posts</a></li>
            <li><a href="https://github.com/Arkistos">GitHub</a></li>
          </ul>
  			</div>
  		</div>

  		<div class="container">
        <section class="row">
  			  <div class="uncollapse logoHidden col-md-1 col-xs-12 col-sm-12">
  				    <a data-toggle="collapse" href="#hidden"><img class="gly-spin bouton mx-auto d-block" src=" {{ asset('images/drop-menu.png') }}" id="image"></a>
  			  </div>
          <div class="titlePage col-md-10 col-xs-12 col-sm-12 text-center" id="titi">
            {% block titlePage %}
            {% endblock %}
          </div>

        </section>
      </div>
  	</header>


    {% block body %}{% endblock %}


    <footer>

      <form id="getNewsletter" >
        <div class="container">
          <div class="form-row justify-content-around">
            <label for="inputEmail" class="form-group">Get our Newsletter</label>
          </div>
          <div class="form-row justify-content-center">
            <input type="email" name="email" id="inputEmail" required autofocus placeholder="email">
            <button class="btn btn-lg btn-outline-secondary" type="submit" id="btnNews"> get newsletter</button>
          </div>
          <div class="row justify-content-around">
            <p id="comment"></p>
          </div>
        </div>
      </form>

      <div class="container">
      <div class="row justify-content-around">
        <a href="#"><img src="{{asset('images/logo_mail.png')}}"></a>
        <a href="https://twitter.com/ImpressionisteL"><img src="{{asset('images/logo_twitter.png')}}"></a>
      </div>
    </div>

      <p class="text-center">
        Copyright © <script type="text/javascript">
          var d = new Date();
          document.write(d.getFullYear());
          </script>  
          L'impressionniste - All Rights Reserved
      </p>
    </footer>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      {{ encore_entry_script_tags('home') }}

    {% endblock %}
  </body>

</html>
